html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: rgb(36, 36, 36);
    overflow: hidden;
    
}

body { 
    height: 100%; 
    min-width: 400px;
}

nav{
    width: 100%
}

nav ul {
    list-style-type: none;
    margin-top: 1.5em;
    margin-left: 1.5em;
    padding: 0;
}

a{
    color: black;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

nav ul li{
    display: inline;
    padding-right: 1em;
    cursor: pointer;
    
}

.left-align{
    float: left;
}

.right-align{
    float: right;
}
.nav-icon {
    display: inline-block;
    cursor: pointer;
}

.container {
    margin: 0 auto; 
    display: flex;
    flex-flow: column wrap;  
    align-items: center;
    flex: 1 1 100%; 
    width: 100%;
    height: 100%;
}


#logo {
    padding-top: 5em;
    padding-bottom: 1.25em;
}

label {
    margin: 0.5em; 
}

form{
    width: 50%;
    min-width: 400px;
    border: 1px solid rgb(201, 202, 204);
    border-radius: 3em; 
    margin: 1em;
    display: flex;
    align-items: center;
}

@media screen and (max-width:860px){
    form {
        width: 65%;
    }
}


form:hover{
    box-shadow: 5px 3px 10px 1px rgb(201, 202, 204, 0.5);
}

input { 
    width: 100%;
    padding: 1em;
    border: none;
    background-color: none;
}

input:focus{
    outline: none;
}

#search-icon{
    color:rgb(189, 189, 189);
}

#search-icon:hover{
    cursor: default;
}

#mic-button{
    margin-right: 1em;
    background-image: linear-gradient(180deg, #0000FF, blue, blue,blue,  red, orange, orange, blue, blue);
    color: transparent;
    -webkit-background-clip: text;
}

#mic-button:hover{
    cursor: pointer;
}

.button-container {
    display: flex;
    flex-direction: row;
}
.search-button {
    margin: 0.5em; 
    padding: 1em;
    border: none;
    border-radius: 0.25em;
    background-color: rgba(218, 218, 218, 0.2);
}
.search-button:hover{
    border: 1px solid rgba(218, 218, 218, 0.5);
    box-shadow: 1px 1px 1px rgb(201, 202, 204);
    cursor: pointer;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    min-width: 500px;
    overflow: hidden;
    background-color:rgba(218, 218, 218, 0.2);
    color:lightslategray;
}


footer ul { 
    vertical-align: middle; 
    list-style-type: none;
    padding: 0.5em;
    margin: 0.5em;
    height: 100%; 
}
.center-align {
  text-align: center;
  margin: 25%;
}

@media screen and (max-width: 860px){
    .center-align {
        margin: 5%;
    
    }
}

@media screen and (min-width:600px) and (max-width: 750px){ 
    footer {
        margin: 0;
        padding: 0;
    }
    
    footer ul {
        display: flex; 
        flex-wrap: wrap;
    }

    footer li {
        flex-basis: auto;
    }
    .footer-4{
        order: 0; 
        width: 100%; 
        
    }
    .footer-1{ 
        order: 1;
        flex: 1;
        
    }
    .footer-2{ 
        order: 2;
        flex: 1;
    }
    .footer-3{ 
        order: 3;
       
        flex: 1;
    }

    .footer-5{ 
        order: 4;
        flex: 1;
    }
    .footer-6{ 
        order: 5;
        flex: 1;
    }

    .footer-7{ 
        order: 6;
        flex: 1;
    }
}

@media screen and (max-width: 600px){ 
    footer {
        margin: 0;
        padding: 0;
    }
    
    footer ul {
        display: flex; 
        flex-wrap: wrap;
    }

    .footer-4{
        order: 0; 
        width: 100%; 
        
    }
    
    .footer-1{ 
        order: 1;
        flex: 1 1 33%;
    }

    .footer-2{ 
        order: 2;
        flex: 1 1 33%;
    }
    .footer-3{ 
        order: 3;
        flex: 1 1 33%;
    }

    .footer-5{ 
        order: 4;
        flex: 1 1 33%;
    }
    .footer-6{ 
        order: 5;
        flex: 1 1 33%;
    }

    .footer-7{ 
        order: 6;
        flex: 1 1 33%;
    }
    
}


#flower-icon {
    color: green;
    vertical-align: middle;
}
footer li {
    display: inline;
    cursor: pointer;
    padding: 0.5em;
}

footer li:hover{
    text-decoration: underline;
}